<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.svg">
    <link rel="stylesheet" href="scss/main.css">
</head>
<body>


<nav class="navbar navbar-default navbar-fixed-top header-custom">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ui-sref="population" class="navbar-brand">Mämes.se</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="population"><a ui-sref="population">Mämes</a></li>
                <li class="density"><a ui-sref="density">Mer mämes</a></li>
            </ul>
        </div>
    </div>
</nav>


<section ng-controller="mainflow" class="col-md-6 col-md-offset-3">
    <button ng-click="getData();"> getData</button>
    <input type="checkbox" ng-model="imagesBool"> images
    <input type="checkbox" ng-model="videosBool"> videos


    <div ng-repeat="item in dataArr | orderBy:'-upvotes'">
           <youtube ng-if="dataType(item.type, item.domain) == 'youtube'"></youtube>
            <imagemedia ng-if="dataType(item.type, item.domain) == 'image' && item.over_18 == nsfw"></imagemedia>
            <twitch ng-if="dataType(item.type, item.domain) == 'twitch' && item.over_18 == nsfw"></twitch>
            <gfycat ng-if="dataType(item.type, item.domain) == 'gfycat' && item.over_18 == nsfw"></gfycat>
    </div>

</section>



<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/async/dist/async.js"></script>
<script src="js/ngFilters.js"></script>
<script src="js/localstorage.js"></script>
<script src="js/returnObjects.js"></script>
<script src="js/globalVars.js"></script>
<script src="js/typeChecker.js"></script>
<script src="js/ngApp.js"></script>
<script src="js/ngService.js"></script>
<script src="js/directive.js"></script>
</body>
</html>