<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.svg">
    <link rel="stylesheet" href="scss/main.css">
</head>
<body ng-controller="mainflow" >

<nav class="navbar navbar-inverse sidebar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                <li ><a href="#">Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                <li ><a href="#">Messages<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>


                <li>
                    <div class="form-group">

                        <select class="form-control col-md-6" ng-model="input.type">
                            <option>Reddit</option>
                            <option>Domain</option>
                        </select>
                        <label for="sourceInput">Name</label>
                        <input type="text" class="form-control" id="sourceInput" ng-model="input.source"  placeholder="reckful">
                    </div>
                    <button class="btn-primary btn-lg" ng-click="addSrc();">Add</button>
                </li>
                <li>
                    <div class="list-group">
                        <a href="#" class="list-group-item" ng-repeat="item in sourceArr" ng-click="removeItemReddit($index)">r/{{item}}</a>
                        <a href="#" class="list-group-item" ng-repeat="item in domainArr" ng-click="removeItemDomain($index)">domain/{{item}}</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="main">
    <!-- Content Here -->


<!--
<nav class="navbar navbar-default navbar-fixed-top header-custom">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ui-sref="population" class="navbar-brand">Mämes.se</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="population"><a ui-sref="population">Mämes</a></li>
                <li class="density"><a ui-sref="density">Mer mämes</a></li>
            </ul>
        </div>
    </div>
</nav>
-->

<section class="col-md-6 col-md-offset-3">
    <button ng-click="getData();"> getData</button>
    <input type="checkbox" ng-model="imagesBool"> Request images
    <input type="checkbox" ng-model="videosBool"> Request videos

    <input type="checkbox" ng-model="videos">MEdia Videos
    <input type="checkbox" ng-model="images">MEdia Images


    <div ng-repeat="item in dataArr | orderBy:'-ups'">
           <youtube ng-show="videos" ng-if="dataType(item.type, item.domain) == 'youtube'"></youtube>
            <imagemedia ng-show="images" ng-if="dataType(item.type, item.domain) == 'image' && item.over_18 == nsfw"></imagemedia>
            <twitch ng-show="videos" ng-if="dataType(item.type, item.domain) == 'twitch' && item.over_18 == nsfw"></twitch>
            <gfycat ng-show="Images" ng-if="dataType(item.type, item.domain) == 'gfycat' && item.over_18 == nsfw"></gfycat>
    </div>

</section>

</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/async/dist/async.js"></script>
<script src="js/ngFilters.js"></script>
<script src="js/localstorage.js"></script>
<script src="js/returnObjects.js"></script>
<script src="js/globalVars.js"></script>
<script src="js/typeChecker.js"></script>
<script src="js/ngApp.js"></script>
<script src="js/ngService.js"></script>
<script src="js/directive.js"></script>
</body>
</html>