<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<div ng-controller="mainflow">
    <button ng-click="getData();"> getData</button>
    <input type="checkbox" ng-model="imagesBool"> images
    <input type="checkbox" ng-model="videosBool"> videos
    <ul>
        <li ng-repeat="data in dataArr">
            <ul>
                <li ng-repeat="test in data track by $index">
                   <pre> {{ test.title | json}} </pre>
                </li>
            </ul>
        </li>
    </ul>
</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="js/localstorage.js"></script>
<script src="js/returnObjects.js"></script>
<script src="js/globalVars.js"></script>
<script src="js/typeChecker.js"></script>
<script src="js/ngApp.js"></script>
<script src="js/ngService.js"></script>
</body>
</html>